body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#search-box, .tab {
  width: 400px;
  border-top: 1px dotted #cfcfcf;
}

#search-box {
  height: 30px;
  background-color: white;
}

#search-box {
/*  margin: 3px; */
}

#tabs {
  display: flex;
  flex-direction: column;
}

.tab, .summary-url-wrapper, .rmv-tab-btn {
  height: 50px;
}

.tab {
  display: flex;
  flex-direction: row;
  background-color: white;
}


.summary-url-wrapper, .summary, .url {
  background-color: white;
  width: 360px;
}

.summary-url-wrapper {
  display: flex;
  flex-direction: column;
}

.rmv-tab-btn {
  text-align: center;
  width: 40px;
  background-color: #fc557c;
}

.summary, .url {
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
}
