body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#search-box, .tab {
  width: 400px;
  border-top: 1px dotted #cfcfcf;
}

#search-box {
  height: 30px;
  background-color: white;
}

#tabs {
  display: flex;
  flex-direction: column;
}

.tab {
  height: 50px;
  display: flex;
  flex-direction: column;
}

.summary, .url {
  opacity: 1;
  width: 400px;
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
}

.focused {
  background-color: #ff8f5b;
}
